<div class="text-gray-900 dark:text-white mb-5" id="<%= dom_id post %>">
  <div>
    <p class="text-gray-900/75 dark:text-white/75"><%= post.created_at.strftime("#{post.created_at.day.ordinalize} %B %Y") %></p>
    <p class="text-gray-900 dark:text-white text-3xl font-extrabold tracking-tight leading-none md:text-4xl lg:text-4xl">
      <%= post.title %>
    </p>
    <% if action_name == 'show' %>
      <h4>Posted by: <%= post.user.email %></h4>
    <% end %>
  </div>
  <p class="my-5">
    <%= post.content %>
  </p>
</div>
