<div class="mx-auto md:w-2/3 w-full flex mt-28">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert"><%= alert %></p>
    <% end %>
    <%= render @post %>
    <%= link_to 'Back to posts', root_path, class: "text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
    <% if current_user == @post.user %>
      <%= link_to 'Edit this post', edit_post_path(@post), class: "text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this post', post_path(@post), method: :delete, class: "text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
      </div>
    <% end %>
    <br class='bg-neutral-900'>
    <div class="mx-auto mt-28 text-neutral-900 dark:text-white">
      <%= render 'comments/form', post: @post %>
      <% @comments.each do |comment| %>
        <%= render 'comments/comment', post: @post, comment: comment %>
      <% end %>
    </div>
  </div>
</div>
